@import '@/assets/styles/mixins.scss';

.headerContainer {
  max-width: 120rem;
  margin: 0 auto;
}

.logo {
  height: 48px;
  width: auto;
  float: left;
}

.logoContainer {
  height: 48px;
  img {
    height: 28px;
  }
}

.icon {
  margin-top: rem(16);
  margin-right: rem(7);
  float: left;

  @media (max-width: $md-max-width) {
    display: none !important;
  }
}

.topbar {
  padding: 0 rem(20);
  min-height: 64px;
  height: 64px;
  border-bottom: 1px solid $menuBg-darken;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 999;
}
